<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TensorFlow</title>
</head>

<body>

<div th:if="${message}" style="background: light-blue; colour: red">
    <h2 th:text="${message}"/>
    <h2 th:text="${classification}"/>
</div>

<h1>TensorFlow example</h1>
<p>Upload an image, and watch the classifier attempt to tell you what it is.</p>
<div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

</body>
</html>
